{
  "presets": [
    [
      "@babel/preset-env",
      {
        // "modules": false,
        // "targets": {
        //   "browsers": ["last 2 versions"],
        //   "chrome": "60",
        //   "firefox": "60",
        //   "safari": "10",
        //   "ie": "11",
        //   "edge": "17",
        //   "android": "4.0",
        //   "ios": "10"
        // },
        // "useBuiltIns": "usage",
        // "corejs": "core-js@3",
        "debug": false
      }
    ]
  ],
  "plugins": []
}
